* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

body {
    background-color: #211f1f;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.footer {
    margin-top: 2vw;
    padding-bottom: 2vw;
    background: #211f1f;
    color: white;
    text-align: center;
}

.social-footer i {
    font-size: 2vw;
    margin: 0.75vw 0.75vw;
    cursor: pointer;
}

.footer h3 {
    font-family: "Itim", cursive;
    font-size: 2vw;
}

.footer p {
    font-family: "Itim", cursive;
    font-size: 2vw;
}

.hotspot {
    position: absolute;
    border: 1px solid red; /* ปลดคอมเมนต์บรรทัดนี้เพื่อดูตำแหน่งตอนจัดวาง */
    cursor: pointer;
}

.first {
    top: 60%; 
    left: 70%; 
    width: 14%; 
    height: 25%;
}

.frameone {
    top: 53%; 
    left: 9%; 
    width: 14%; 
    height: 25%;
}

.frametwo {
    top: 16.5%; 
    left: 14.5%; 
    width: 16%; 
    height: 31%;
    border-radius: 50%; /* ใช้ถ้าเป็นกรอบวงรี */
}

.framethree {
    top: 9%; 
    left: 37.5%; 
    width: 23.5%; 
    height: 20%;
}

.framefour {
    top: 15%; 
    left: 68%; 
    width: 16%; 
    height: 29%;
    border-radius: 51%; /* ใช้ถ้าเป็นกรอบวงรี */
}

.framefive {
    top: 48%; 
    left: 77.5%; 
    width: 16%; 
    height: 31%;
    border-radius: 51%; /* ใช้ถ้าเป็นกรอบวงรี */
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-width: 100%;
    margin: 0;
    position: relative;
}

.card-mem {
    width: 100%;
    height: auto;
}

.poli-img {
    width: 100vw;
    height: auto;
    object-fit: contain;
}

.poli {
    top: 77%;
    left: 70.5%; 
    width: 20%; 
    height: 10%;
    border-radius: 30%;
}