* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

body {
    background-color: #211f1f;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.footer {
    margin-top: 2vw;
    padding-bottom: 2vw;
    background: #211f1f;
    color: white;
    text-align: center;
}

.social-footer i {
    font-size: 2vw;
    margin: 0.75vw 0.75vw;
    cursor: pointer;
}

.footer h3 {
    font-family: "Itim", cursive;
    font-size: 2vw;
}

.footer p {
    font-family: "Itim", cursive;
    font-size: 2vw;
}

.hotspot {
    position: absolute;
    /*border: 1px solid red;  ปลดคอมเมนต์บรรทัดนี้เพื่อดูตำแหน่งตอนจัดวาง */
    cursor: pointer;
}

.first {
    top: 53.5%; 
    left: 35%; 
    width: 33.5%; 
    height: 8.5%;
    border-radius: 35%;
}

.frameone {
    top: 76%; 
    left: 8%; 
    width: 16%; 
    height: 15%;
}

.frametwo {
    top: 57%; 
    left: 14%; 
    width: 16%; 
    height: 15%;
    border-radius: 50%; /* ใช้ถ้าเป็นกรอบวงรี */
}

.framethree {
    top: 49%; 
    left: 38.5%; 
    width: 25%; 
    height: 11%;
}

.framefour {
    top: 57%; 
    left: 71.5%; 
    width: 16%; 
    height: 14.5%;
    border-radius: 50%;
}

.framefive {
    top: 76%; 
    left: 78%; 
    width: 15.5%; 
    height: 15%;
    border-radius: 50%;
}

.main-mem {
    top: 85%; 
    left: 38.5%; 
    width: 25%; 
    height: 6.5%;
    border-radius: 30%;
}

.mem-main {
    top: 96.5%; 
    left: 80.5%; 
    width: 13.5%; 
    height: 2.7%;
    border-radius: 40%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-width: 100%;
    margin: 0;
    position: relative;
}

.card-mem {
    width: 100%;
    height: auto;
}

.poli-img {
    width: 100vw;
    height: auto;
    object-fit: contain;
}

.poli-mem{
    top: 94.7%;
    left: 77%; 
    width: 18%; 
    height: 2%;
    border-radius: 50%;
}

.poli-main {
    top: 97%;
    left: 77%; 
    width: 18%; 
    height: 2%;
    border-radius: 50%;
}

.nam {
    top: 19%;
    left: 42%; 
    width: 10%; 
    height: 1%;
}

.nam2 {
    top: 20.2%;
    left: 42%; 
    width: 14%; 
    height: 1%;
}

.tawan {
    top: 50.1%;
    left: 39.5%; 
    width: 7%; 
    height: 1%;
}

.tawan2 {
    top: 51.4%;
    left: 39.5%; 
    width: 13%; 
    height: 1%;
}

.clean {
    top: 86%;
    left: 40.5%; 
    width: 13%; 
    height: 1.2%;
}